문제 1
반지름이 5인 원의 면적과 둘레를 계산 하시오.
- 원주율은 3.14로 함

In [6]:
r = 5;
pi = 3.14;

dimensions = r * r * pi;
circumference = 2* pi * r;

print("면적 :", dimensions);
print("둘레 :", circumference);

면적 : 78.5
둘레 : 31.400000000000002

문제 2
복소수 1+3i 와 2+1i의 합을 계산하고, 계산 결과가 3+4i가 맞는지 결정하는 프로그램을 작성하시오.
 - 비교 연산 방법; a == b

In [11]:
num1 = 1 + 3j;
num2 = 2 + 1j;
num3 = 3 + 4j;

num1+num2,num1+num2 == num3

((3+4j), True)

문제3 아래와 같은 리스트의 내용을 역순으로 출력하는 프로그램을 작성하시오.
 - nums = [1,2,3,4,5]
 - strs = ['abc', 'def','ghi']

In [13]:
nums = [1,2,3,4,5]
strs = ['abc', 'def','ghi']

print(nums[::-1])
print(strs[::-1])

[5, 4, 3, 2, 1]
None

실습1. 456분은 몇 시간 몇 분인지 계산 하시오.

In [1]:
t = 456;
h = t//60;
m = t%60;
print(t,"분은 ",h," 시간 ",m," 분");

456 분은  7  시간  36  분

실습2. 다음과 같은 학점 데이터를 딕셔너리에 저장한 후, 이름 순으로 첫번째 학생의 학점을 출력하는 프로그램을 작성 하시오.
    
    –“홍길동”:3.4, “임꺽정”:4.0, “김철수”:2.8, “이영희“:3.9

In [4]:
data_dict = {'홍길동':3.4, '임꺽정':4.0, '김철수':2.8, '이영희':3.9}
sorted_dict_keys = sorted(data_dict.keys());
print(sorted_dict_keys);
print(sorted_dict_keys[0],data_dict[sorted_dict_keys[0]]);

['김철수', '이영희', '임꺽정', '홍길동']
김철수 2.8