In [21]:
import pandas as pd
import numpy as np
import IPython.display

dt = pd.DataFrame(np.array([[1000,25],[280,120],[900,30]]), index = ['store1', 'store2', 'store3'], columns = ['unit price','number'])
display(dt)

dt['total price'] = dt['unit price']* dt['number']
display(dt)

mx = 0
for i in dt['total price']:
    if i>mx:
        mx = i

display(dt.loc[dt['total price'] == mx])

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

        unit price  number  total price
store2         280     120        33600

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\0303c\appdata\local\programs\python\python310\lib\site-packages (1.22.3)Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\0303c\appdata\local\programs\python\python310\lib\site-packages (22.1.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\0303c\appdata\local\programs\python\python310\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\0303c\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\0303c\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\0303c\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in c:\users\0303c\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.